{% extends "base.html" %}
{% load i18n static %}

{% block extrahead %}
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
    <link type="text/css" rel="stylesheet" href="{% static "authentication/style.css" %}" />
{% endblock %}

{% block content %}
     <nav class="navbar navbar-dark bg-secondary navbar-expand">
          <h1 class="navbar-brand">Decide</h1> 
          <ul class="navbar-nav ml-auto">
               <li class="nav-item">
                    <a href="{% url 'logout' %}" target="_self" class="nav-link">logout</a>
               </li>
          </ul>
     </nav>
     
     <div id="app-booth" class="pagecontent">
          <h1>Bienvenido a Decide! {{ user.username | upper }}</h1>
          
          <form action="" method="post">
               {% csrf_token %}
               {% for field in user_form %}
                    <div class="field">
                         <label for="{{ field.id_for_label }}" class="label">{{ field.label_tag }}</label>
                         {{ field }}

                         {% if field.help_text %}
                              <p class="help">{{ field.help_text|safe }}</p>
                         {% endif %}

                         {% for error in field.errors%}
                              <p class="text-danger">{{ error }}</p>
                         {% endfor %}
                    </div>
               {% endfor %}

               {% for field in extra_form %}
                    <div class="field">
                         <label for="{{ field.id_for_label }}" class="label">{{ field.label_tag }}</label>
                         {{ field }}

                         {% if field.help_text %}
                              <p class="help">{{ field.help_text|safe }}</p>
                         {% endif %}

                         {% for error in field.errors%}
                              <p class="text-danger">{{ error }}</p>
                         {% endfor %}
                    </div>
               {% endfor %}
               <br/>
               <button type="submit" class="btn btn-primary">Update profile</button>
          </form>

     </div>
{% endblock %}